body {
  color: white;
  background-color: black;
  font-family: "Arial";
}

.ttimg {
  border-radius: 4px;
  animation: floatx cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s;
}

.title {
  color: white;
  font-family: "Arial";
  animation: floatx cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s;
}

.desc {
  color: white;
  font-family: "Arial";
  animation: floatx cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.5s;
}

.lnkout {
  text-decoration: none;
}

.lnkin {
  color: blue;
  text-decoration: underline;
  animation: floatx cubic-bezier(0.770, 0.000, 0.175, 1.000) 2.5s;
}

.ohyeahand {
  color: white;
  animation: floatx cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s;
}

@keyframes floatx {
  0% {
    transform: translateY(200px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}