@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap'); /* adds lato font */

body {
    color: white;
    background-color: rgb(46, 46, 46);
    font-family: "Lato";
}
  
.timg {
  border-radius: 4px;
}