@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap'); /* adds lato font */

/* elements */
body {
    color: rgb(212, 212, 212);
    background-color: rgb(46, 46, 46);
    font-family: "Lato";
    text-align: center;
    align-items: center;
}
a {
  color: rgb(99, 99, 185);
}
a:visited {
  color: rgb(127, 68, 182);
}

/* classes */
.timg {
  border-radius: 3px;
}
.projects {
  float: right;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(67, 67, 67);
}
.rContainer:after {
  content: "";
  display: inline-block;
  clear: both;
  vertical-align: center;
  align-items: center;
}
