body {
    color: white;
    background-color: black;
    font-family: "Arial";
}

.title {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.desc {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.outerlink {
  color: white;
}

.innerlink {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: blue;
  font-family: "Arial";
  animation: rotat-e linear 1s infinite;
}

@keyframes rotat-e {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}